/*     Sections, Articles
--------------------------------*/ 

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

section div {
  width: 300px;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 70px;
  padding-right: 20px;
  padding-bottom: 40px;
}

img {
  height: 100%;
  width: 100%;
}
